.searchContainer {
  display: flex;
  gap: 0.5rem;
  max-width: 600px;
  width: 100%;

  .input {
    border: none;
    width: 100%;


  }
}

@media screen and (width <= 768px) {
    .searchContainer {
      max-width: 100%;
    }
}
