.page {
  min-height: 100dvh;
  background-color: theme('colors.zinc.900');
  width: 100%;
  padding-top: 2rem;
  padding-inline: 2rem;
  padding-bottom: 2rem;


  .topContainer {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;

    .actionButton {
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: theme('colors.zinc.800');
      color: theme('colors.zinc.100');
      border: none;

      &:hover {
        background-color: theme('colors.zinc.600');
      }


    }



  }




}
@media screen and (max-width: 1024px) {
  .page{
    padding-inline: 1rem;
  }
}


@media screen and (max-width: 768px) {
  .page{
    padding-top: 64px;
  }

}

@media screen and (max-width: 640px) {
  .page{
    padding-inline: 0.5rem;
  }
}


