.truncated-text {
  //display: -webkit-box;
  //max-width: 200px;
  //-webkit-line-clamp: 4;
  //-webkit-box-orient: vertical;
  //overflow: hidden;
  //color: theme('colors.zinc.200');
  //z-index: 10 !important;
  //text-align: center;
  //background-color: theme('colors.zinc.900');
  //border-radius: theme('borderRadius.md');
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
